* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

    .navbar-links ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navbar-links li {
        list-style: none;
    }

        .navbar-links li a {
            display: block;
            text-decoration: none;
            color: white;
            padding: 1rem;
        }

        .navbar-links li:hover {
            background-color: #555;
        }

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }

            .navbar-links ul li {
                text-align: center;
            }

                .navbar-links ul li a {
                    padding: .5rem 1rem;
                }

        .navbar-links.active {
            display: flex;
        }
}

h1 {
    text-align: center;
}

.wrapper {
    margin: 25px auto;
    max-width: 1100px;
}

    .wrapper nav {
        display: flex;
        justify-content: center;
    }

    .wrapper .items {
        display: flex;
        max-width: 720px;
        width: 100%;
        justify-content: space-between;
    }

.items span {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #007bff;
    border-radius: 50px;
    border: 2px solid #007bff;
    transition: all 0.3s ease;
}

    .items span.active,
    .items span:hover {
        color: #fff;
        background: #007bff;
    }

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

    .gallery .image {
        width: calc(100% / 4);
        padding: 7px;
    }

        .gallery .image span {
            display: flex;
            width: 100%;
            overflow: hidden;
        }

        .gallery .image img {
            width: 100%;
            vertical-align: middle;
            transition: all 0.3s ease;
        }

        .gallery .image:hover img {
            transform: scale(1.1);
        }

        .gallery .image.hide {
            display: none;
        }

        .gallery .image.show {
            animation: animate 0.4s ease;
        }

@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 1000px) {
    .gallery .image {
        width: calc(100% / 3);
    }
}

@media (max-width: 800px) {
    .gallery .image {
        width: calc(100% / 2);
    }
}

@media (max-width: 700px) {
    .wrapper nav .items {
        max-width: 600px;
    }

    nav .items span {
        padding: 7px 15px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        margin: 30px auto;
    }

        .wrapper nav .items {
            flex-wrap: wrap;
            justify-content: center;
        }

    nav .items span {
        margin: 5px;
    }

    .gallery .image {
        width: 100%;
    }
}

.update {
    text-align: center;
    padding: 10px 50px;
}

.question {
    padding: 20px 40px;
    text-align: center;
}

.contactHeader {
    text-align: center;
}

.contacts {
    text-align: center;
    padding: 80px;
}
.contactsList {
    list-style: none;
    padding: 20px;
}

.galDesc {
    text-align: center;
}

.xtraInfo {
    text-align: center;
    padding: 20px 30px;
    font-size: 12px;
}