:root {
    --color-1: #673ab7;
}

body {
    line-height: 1.5;
    font-family: 'Comfortaa', cursive;
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}
/*header*/
.header {
    background-color: #007bff;
    padding: 30px 0;
    position: relative;
}

    .header .logo,
    .header .nav {
        padding: 0 15px;
    }

        .header .logo a {
            font-size: 30px;
            color: #ffffff;
            text-transform: capitalize;
        }

        .header .nav ul li {
            display: inline-block;
            margin-left: 40px;
        }

            .header .nav ul li a {
                display: block;
                font-size: 16px;
                padding: 10px 0;
                color: white;
                text-transform: capitalize;
                transition: all 0.5s ease;
            }

                .header .nav ul li a:hover {
                    color: gray;
                }

    .header #nav-check {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

    .nav-toggler span {
        display: block;
        height: 2px;
        width: 20px;
        background-color: #007bff;
        position: relative;
    }

        .nav-toggler span::before,
        .nav-toggler span::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #007bff;
            left: 0;
        }

        .nav-toggler span::before {
            top: -6px;
        }

        .nav-toggler span::after {
            top: 6px;
        }

@media(max-width: 991px) {
    .nav-toggler {
        display: flex;
    }

    .header .nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #005ec2;
        border-top: 1px solid white;
        opacity: 0;
        visibility: hidden;
    }

        .header .nav ul li {
            display: block;
            margin: 0;
        }

    .header #nav-check:checked ~ .nav {
        opacity: 1;
        visibility: visible;
    }

    .header #nav-check:focus ~ .nav-toggler {
        box-shadow: 0 0 15px #000000;
    }

    .header #nav-check:checked ~ .nav-toggler span {
        background-color: transparent;
    }

        .header #nav-check:checked ~ .nav-toggler span::before {
            top: 0;
            transform: rotate(45deg);
        }

        .header #nav-check:checked ~ .nav-toggler span::after {
            top: 0;
            transform: rotate(-45deg);
        }
}



h1 {
    text-align: center;
    padding-top: 20px;
}

.wrapper {
    margin: 25px auto;
    max-width: 1100px;
}

    .wrapper nav {
        display: flex;
        justify-content: center;
    }

    .wrapper .items {
        display: flex;
        max-width: 720px;
        width: 100%;
        justify-content: space-between;
    }

.items span {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #007bff;
    border-radius: 50px;
    border: 2px solid #007bff;
    transition: all 0.3s ease;
}

    .items span.active,
    .items span:hover {
        color: #fff;
        background: #007bff;
    }

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

    .gallery .image {
        width: calc(100% / 4);
        padding: 7px;
    }

        .gallery .image span {
            display: flex;
            width: 100%;
            overflow: hidden;
        }

        .gallery .image img {
            width: 100%;
            vertical-align: middle;
            transition: all 0.3s ease;
        }

        .gallery .image:hover img {
            transform: scale(1.1);
        }

        .gallery .image.hide {
            display: none;
        }

        .gallery .image.show {
            animation: animate 0.4s ease;
        }

@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 1000px) {
    .gallery .image {
        width: calc(100% / 3);
    }
}

@media (max-width: 800px) {
    .gallery .image {
        width: calc(100% / 2);
    }
}

@media (max-width: 700px) {
    .wrapper nav .items {
        max-width: 600px;
    }

    nav .items span {
        padding: 7px 15px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        margin: 30px auto;
    }

        .wrapper nav .items {
            flex-wrap: wrap;
            justify-content: center;
        }

    nav .items span {
        margin: 5px;
    }

    .gallery .image {
        width: 100%;
    }
}

.update {
    text-align: center;
    padding: 10px 50px;
}

.question {
    padding: 20px 40px;
    text-align: center;
}

.contactHeader {
    text-align: center;
}

.contacts {
    text-align: center;
    padding: 80px;
}
.contactsList {
    list-style: none;
    padding: 20px;
}

.galDesc {
    text-align: center;
}

.howCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.xtraInfo {
    text-align: center;
    padding: 20px 30px;
    font-size: 12px;
}

.checkButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checker {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 20px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform .2s;
}
.checker:hover {
    transform: scale(1.2);
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4.8px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.imgCenterer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pcTut {
    text-align: left;
    padding-left: 200px;
    padding-top:40px;
}

.tutList {
    text-align: center;
    padding-top: 10px;
}
/*for image separation in tutorial (it's a mess idc)*/
.padder2 {
    padding-top: 80px;
}
.padder3 {
    padding-top: 80px;
}
.padder4 {
    padding-top: 80px;
}